*
!.gitignore
!.travis.yml
!gh_rsa.enc
!appveyor.yml
!LICENSE
!*.sublime-project
!*.md
!src/termimage-generator/Cargo.toml
!src/termimage-generator/rustfmt.toml
!src/termimage-generator/*.md
!src/termimage-bootloader/**
